nav{
  width: 100%;
  height: 20px;
  
}
.i {
  text-align: center;
}

.marq {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #555;
}

.ii {
  font-size: 26px;
  font-weight: bold;
  color: white;
  padding-bottom:10px;
}
header
{
width:100%;
height:100px;
display:flex;
margin-top: 60px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 30px;
  }
  
  form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 20px 0 0;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #a02525;
  }
  
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  .s{
    width: 40px;
    margin: 0 0 0 70px;
    align-items: center;
    background-color: aqua;
    border-radius: 1px solid rgb(192, 182, 162)
    ;
  }
.one
{
width:10%;
height:100px;
margin-top:40px;
margin-left: 40px;
font-size:30px;
color:lightcoral;
font-weight:bold;
}
.two
{
width:50%;
height:100px;
margin-top:50px;
margin-left:100px;
display: flex;
}
.text
{
width:100%;
height:100px;
display: inline;
font-size:15px;
color:blue;
font-weight:bold;
}
.box1
{
width:5%;
height:50px;
background-size:cover;
margin-top:35px;
margin-inline-end: 10px;
}
.box2
{
width:6%;
height:60px;
background-size:cover;
margin-top:23px;	
}
main
{
width:100%;
height:450px;
display:flex;
margin-top:25px;
}
.a
{
width:50%;
height:400px;
margin-top: 30px;
margin-left:20px;
align-items: center;
}
.b
{
width:50%;
height:400px;
margin-top:30px;
margin-left:20px;
margin-right: 10px;
background-image: url(ub.jpg);
background-size:cover;
}